{% extends 'home/index.html' %}


{% block pageSpecificCSS %}
<style>
#toast-container {
  right: auto !important;
  left:30%;
  top:5%;
}
</style>
{% endblock pageSpecificCSS %}

{% block body %}
<div class="container">
    <div class="section valign-wrapper " style="height:58vh">
    {% comment %} We can opt for toast here {% endcomment %}
        

        <div class="row center-align card-panel" style="margin-left:auto;margin-right:auto;">
            <form class="col s12" method="POST" action={% url 'login' %}>
                {% csrf_token %}
                <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">phone</i>
                  <input id="icon_telephone" name="mobile" type="tel" class="validate" placeholder="+910000000000"
                    {% if mobile %}
                        value="{{mobile}}"
                    {% endif %}
                    {% if view_code %}
                        readonly
                    {% endif %}
                  >
                  <label for="icon_telephone">Telephone</label>
                </div>
                </div>

                {% if view_code %}
                <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock</i>
                  <input id="icon_auth_code" name="auth_code" type="text" class="validate" placeholder="Enter 5 digit authentication code">
                  <label for="icon_auth_code">Authentication Code</label>
                </div>
                </div>
                {% endif %}
                
                <div class="row">
                    <div class="input-field col s12">
                       <input type="submit" name="submit" class="waves-effect waves-light btn"
                            {% if view_code %}
                                value="Verify Authentication Code"
                            {% else %}
                                value="Send Authentication Code"
                            {% endif %}
                            
                        >
                    </div>
                </div>
            </form>
          </div>

    </div>
  </div>
{% endblock body %}

{% block pageSpecificJS %}
<script>
{% if messages %}
    {% for message in messages %}
    M.toast({html: '{{ message }}', classes:'center-align', outDuration:1000})
    {% endfor %}
{% endif %}

</script>
{% endblock pageSpecificJS %}
